<form>
    <div class="container"> 
 <label for="documento"><b>Nombre de la empresa</b></label>         
 <input type="text" name ="nombreEmpresa">
 <select type="test" name = "pais">
     <option>Colombia</option>
     <option>Bolivia</option>
 </select>
 <label type="text" for="documento"><b>Direccion</b></label>
 <input type="text" name ="direccion">
 <input type="button"  (click)="ingresar()" value="ingresar">
        <input type="button"  (click)="actualizar()" value="actualizar">
    </div>
 
</form>
   
