<div>
    <form>
     
     
      <div class="container">
        <label for="uname"><b>Usuario</b></label>
        <input type="text" placeholder="Entre el usuario" name="usuario" required>
     
        <label for="psw"><b>Clave</b></label>
        <input type="password" placeholder="Entre la clave" name="clave" required>
     
        <input type="button" (click)="entrar()" value="Ingresar">
        <label>
          <input type="checkbox" checked="checked" name="remember"> Recordar clave
        </label>
      </div>
     
      
    </form>
    </div>
